@mixin heading($font-size) {
  margin-top: 0;
  font-size: $font-size;
}

@mixin btn-color($color, $background-color) {
  color: $color;
  border-color: $primary-color;
  background-color: $background-color;
  border-radius: 80px;
  width: 100px;
}
